<!DOCTYPE html>
<!-- views/partials/header.ejs -->

<footer class="page-footer font-small blue pt-4">
<!-- footer -->
	<div class="footer agileits-w3layouts">
		<div class="container">
			<div class="w3_footer_grids row">
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Company</h3>
					<ul>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact Us</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="help.html">Partner With Us</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Menu</h3>
					<ul>
						<li><a href="menu.html">All Day Menu</a></li>
						<li><a href="menu.html">Lunch</a></li>
						<li><a href="menu.html">Dinner</a></li>
						<li><a href="menu.html">Flavours</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Help</h3>
					<ul>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="login.html">Order Status</a></li>
						<li><a href="offers.html">Offers</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Policy Info</h3>
					<ul>
						<li><a href="terms.html">Terms & Conditions</a></li>
						<li><a href="privacy.html">Privacy Policy</a></li>
					</ul>
				</div>
        <div class="col-md-4 col-sm-2 social-icons w3-agileits">
          <h3>Keep In Touch</h3>
          <ul class=>
            <li class="fab fa-twitter-square"> </li>
            <li class="fab fa-facebook-square"> </li>
            <li class="fab fa-reddit-square"> </li>
            <li class="fab fa-github-square"> </li>
            <li class="fas fa-rss-square"> </li>
          </ul>
        </div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
  <div class="copyw3-agile">
  <div class="container">
    <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
  </div>
  <div>
    <h1>visit us</h1>
    <div>662 King St W #101, <br> Toronto, ON M5V 1M7</div>
  </div>
  <div>
    <h1>hours</h1>
    <div>Monday - <br> Saturday <br> 9am-9pm</div>
  </div>
  <div>
    <h1>contact us</h1>
    <div>+1 888-818-8890 <br> hello@lighthouselabs.ca </div>
  </div>
</div>
</footer>

