<!DOCTYPE html>
<!-- views/partials/header.ejs -->
<div>
  <div>
    <h1>follow us</h1>
    <div>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  <div>
    <h1>visit us</h1>
    <div>662 King St W #101, <br> Toronto, ON M5V 1M7</div>
  </div>
  <div>
    <h1>hours</h1>
    <div>Monday - <br> Saturday <br> 9am-9pm</div>
  </div>
  <div>
    <h1>contact us</h1>
    <div>+1 888-818-8890 <br> hello@lighthouselabs.ca </div>
  </div>
</div>
