<!DOCTYPE html>
<!-- views/partials/header.ejs -->
<div>
  <div>
    <p>follow us</p>
    <div>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  <div>
    <p>visit us</p>
    <p>address</p>
  </div>
  <div>
    <p>hours</p>
    <p>hour of opperation </p>
  </div>
  <div>
    <p>contact us</p>
    <p>contact info</p>
  </div>
</div>
