<!DOCTYPE html>
<!-- views/partials/header.ejs -->

<footer class="page-footer font-small blue pt-4">
<!-- footer -->
	<div class="footer agileits-w3layouts">
		<div class="container">
			<div class="w3_footer_grids row">
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Visit Us</h3>
					<ul>
						<li>662 King St W #101,</li>
						<li>Toronto, ON M5V 1M7</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Hours</h3>
					<ul>
						<li>Monday - Saturday </li>
						<li>9am-9pm</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Contact Us</h3>
					<ul>
						<li>+1 555-555-5555 </li>
						<li>hello@lighthouselabs.ca </li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-2 footer-grids w3-agileits">
					<h3>Policy Info</h3>
					<ul>
						<li>Terms & Conditions</a></li>
						<li>Privacy Policy</a></li>
					</ul>
				</div>
        <div class="col-md-4 col-sm-2 social-icons w3-agileits">
          <h3>Keep In Touch</h3>
          <ul class=>
            <li class="fab fa-twitter-square"> </li>
            <li class="fab fa-facebook-square"> </li>
            <li class="fab fa-reddit-square"> </li>
            <li class="fab fa-github-square"> </li>
            <li class="fas fa-rss-square"> </li>
          </ul>
        </div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
  <div class="copyw3-agile">
  <div class="author-section">
    <p>Design by Kobi Lee, Fernando Ferraz, Rachel Tang, with help from <a href="http://w3layouts.com/">W3layouts</a></p>
</footer>

