<!DOCTYPE html>
<!-- views/partials/header.ejs -->
<h2> LHL Dumplings </h2>
<div class="h_nav">
  <% if (path !== "/") { %>
    <a href="home.html">Home</a>
  <% } else { %>
    <a href="menu.html">Order Now</a>
  <% } %>
</div>

