<!DOCTYPE html>
<!-- views/partials/header.ejs -->
      <head>
        <title>Dumpling Shopping Cart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/materia/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.jqueryscript.net/css/jquerysctipttop.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="../styles/template_style.css" type="text/css" media="all">
        <link rel="stylesheet" href="../styles/simple_Cart.css" type="text/css" media="all">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.css" integrity="sha256-H9hZhTdmRovc2X2QdUVMtLr2H42Mm7edYsXx3xOcbOE=" crossorigin="anonymous" />
        <!-- //SimpleCart Menu-->
        <script src="../scripts/jQuery.SimpleCart.js" ></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </head>
  </div>
  </head>

<!-- Navigation -->
<header>
	<div class="banner">
		<div class="header">
			<div class="w3ls-header">
      <!-- header-one -->
				<div class="container">
					<div class="w3ls-header-right">
						<ul>
							<li class="head-dpdn">
								<i class="fa fa-phone" aria-hidden="true"></i>Call us: +1-555-555-5555
							</li>
							<li class="head-dpdn">
								<a href="index"><i class="fas fa-home" aria-hidden="true"></i> Home</a>
							</li>
							<li class="head-dpdn">
								<a href="menu"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Now</a>
							</li>
							<li class="head-dpdn">
								<a href="offers.html"><i class="fa fa-gift" aria-hidden="true"></i> Offers</a>
							</li>
							<li class="head-dpdn">
								<a href="contact"><i class="fas fa-comment-alt" aria-hidden="true"></i> Contact Us</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>

      <!-- Logo and Description -->
      <div class="navigation agiletop-nav">
				<div class="container">
					<nav class="navbar navbar-default">
						<!-- Nav toggle get grouped for better mobile display -->
						<div class="navbar-header w3l_logo">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
              <img src="/images/logo.png">
							<h1><a href="index.html"><span>Your favourite food one SMS message away</span></a></h1>
						</div>
							<div class="wthree-order">
		<div class="container">
			<div class="order-agileinfo row">

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
            <div class="order-w3text">
              <span class="step-title">1</span>
            </div>
            <div class="instruction-step">
            <i class="fas fa-utensils" aria-hidden="true"></i>
						<span class="step-title">Select Your Meal</span>
          </div>
        </div>
        </div>

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
					<div class="order-w3text">
						<span class="step-title">2</span>
					</div>
          <div class="instruction-step">
						<i class="fas fa-phone" aria-hidden="true"></i>
						<span class="step-title">Enter Your Phone Number</span>
					</div>
        </div>
      </div>

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
					<div class="order-w3text">
						<span class="step-title">3</span>
					</div>
          <div class="instruction-step">
						<i class="fas fa-sms" aria-hidden="true"></i>
						<span class="step-title">Wait for Our Text Message</span>
					</div>
          </div>
          </div>

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
					<div class="order-w3text">
						<span class="step-title">4</span>
					</div>
          <div class="instruction-step">
						<i class="fas fa-drumstick-bite" aria-hidden="true"></i>
						<span class="step-title">Pick up your order and bon apetit!</span>
					</div>
          </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
					</nav>
				</div>
			</div>
		</div>
</header>

