<!DOCTYPE html>
<!-- views/partials/header.ejs -->
<header>
  <h2> LHL Dumplings </h2>
  <div class="h_nav">
      <a href="index">Home</a>
      <a href="contact">Contact Us</a>
      <a href="menu">Order Now</a>
  </div>
</header>

