<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LHL Dumpling House - Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

  <body>
    <% include partials/_header %>
    <div>
      <h1>visit us</h1>
      <div>662 King St W #101, <br> Toronto, ON M5V 1M7/div>
    </div>
    <div>
      <h1>hours</h1>
      <div>Monday - <br> Saturday <br> 9am-9pm</div>
    </div>
    <div>
      <h1>contact us</h1>
      <div>+1 888-818-8890 <br> hello@lighthouselabs.ca </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1443.5984643566749!2d-79.402137!3d43.644071!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc1d36bccb4b45ba!2sLighthouse+Labs!5e0!3m2!1sen!2sus!4v1556301021132!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </body>
</html>
