<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LHL Dumpling House - Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/receive-sms.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>
      #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }
    </style>
  </head>

  <body>
    <% include partials/_header %>
    <h1>Welcome to LHL Dumpling House!</h1>
    <div>
      <video autoplay muted loop id="myVideo">
        <source src="/../video/videoplayback.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
    <section>
        <img>Dumpling pics
        <p>Freshest dumpling that you ever have</p>
    </section>
    <% include partials/_footer %>
    <!-- redirect in ajax? -->

  </body>
</html>
