<!DOCTYPE html>
<html>
        <% include partials/_header %>
    <body>

		<%# <div class="banner-text">
			<div class="container">
				<h2>Delicious food from the <br> <span>Best Chefs For you.</span></h2>
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="text" placeholder="Phone Number with Area Code" required="">
						<input type="submit" value="Search">
					</form>
				</div>
			</div>
		</div>
	</div> %>

	<div class="wthree-order">
		<div class="container">
			<div class="order-agileinfo row">

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
            <div class="order-w3text">
              <span class="step-title">1</span>
            </div>
            <div class="instruction-step">
            <i class="fas fa-utensils" aria-hidden="true"></i>
						<span class="step-title">Select Your Meal</span>
          </div>
        </div>
        </div>

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
					<div class="order-w3text">
						<span class="step-title">2</span>
					</div>
          <div class="instruction-step">
						<i class="fas fa-phone" aria-hidden="true"></i>
						<span class="step-title">Enter Your Phone Number</span>
					</div>
        </div>
      </div>

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
					<div class="order-w3text">
						<span class="step-title">3</span>
					</div>
          <div class="instruction-step">
						<i class="fas fa-sms" aria-hidden="true"></i>
						<span class="step-title">Wait for Our Text Message</span>
					</div>
          </div>
          </div>

        <div class="instruction-wrapper col-md-3 col-sm-3">
          <div class="instruction-box">
					<div class="order-w3text">
						<span class="step-title">4</span>
					</div>
          <div class="instruction-step">
						<i class="fas fa-drumstick-bite" aria-hidden="true"></i>
						<span class="step-title">Pick up your order and bon apetit!</span>
					</div>
          </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    <% include partials/_footer %>
</body>