<!DOCTYPE html>
<html>
        <% include partials/_header %>
    <body>
  </head>
		<%# <div class="banner-text">
			<div class="container">
				<h2>Delicious food from the <br> <span>Best Chefs For you.</span></h2>
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="text" placeholder="Phone Number with Area Code" required="">
						<input type="submit" value="Search">
					</form>
				</div>
			</div>
		</div>
	</div> %>
	<div class="wthree-order">
<<<<<<< HEAD
    <div class = "burger"  >
      <button class="order-now-index"> Order Now!!!</button>
    </div>
=======
		<img class = "burger" src="images/burger_cut.jpg"  alt = "burger ">
>>>>>>> 3830a9c42575106218a211c4714143859bf536c9
    <div class="container" >
      <div class="clearfix"> </div>
			</div>
		</div>
	</div>
    <% include partials/_footer %>
</body>
