<!DOCTYPE html>
<html>
        <% include partials/_header %>
    <body>
        <h1 class="page-heading">Order Now</h1>
        <!-- Menu -->
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 search-grid">
                        <div class="product-container">
                            <!-- Menu List of items -->
                            <div class="menu-list">
                                <div class="panel panel-default" id="content1">
                                    <div class="panel-body">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //Menu List of items -->
                        </div>
                    </div>
                    <!-- Cart Grid -->
                    <div class="col-md-3 col-cart">
                        <div id="cart"></div>
                    </div>
                    <!-- //Cart Grid -->
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#cart').simpleCart();
            });
        </script>
    <% include partials/_footer %>
    </body>
</html>
