<!DOCTYPE html>
<html>
        <% include partials/_header %>
    <body>
        <h1 class="page-heading">Order Now</h1>
        <!-- Menu -->
        <div class="menu">
            <div class="container">
                <div class="row">
                    <!-- Menu and categories -->
                    <div class="col-md-9 search-grid">
                        <div class="product-container">
                            <!-- Menu List of items -->
                            <div class="menu-list">
                                <div class="panel panel-default" id="content1">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="menu-item-container"><div class="item-name">Large Caesar Salad</div>
                                                    <div class="item-descr-container">This is my favourite dish</div>
                                                    <div class="item-price-container">
                                                        <div class="item-price">
                                                            <i class="fas fa-dollar-sign"></i> 8.99
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="add-button">
                                                            <button class="btn btn-primary sc-add-to-cart" data-name="Veg biriyani" data-price="8.99" data-id="99" type="submit">ADD</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="menu-item-container"><div class="item-name">Sweet Corn Soup</div>
                                                    <div class="item-descr-container">Wait, no. <b>This</b> is my favourite dish.</div>
                                                    <div class="item-price-container">
                                                        <div class="item-price">
                                                            <i class="fas fa-dollar-sign"></i> 7.99
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="add-button">
                                                            <button class="btn btn-primary sc-add-to-cart" data-name="Sweet Corn Soup" data-price="7.99" data-id="98" type="submit">ADD</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="menu-item-container"><div class="item-name">Corn Fried Rice</div>
                                                    <div class="item-descr-container">Deliciously seasoned rice soaked in a thick layer of grease.</div>
                                                    <div class="item-price-container">
                                                        <div class="item-price">
                                                            <i class="fas fa-dollar-sign"></i> 12.25
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="add-button">
                                                            <button class="btn btn-primary sc-add-to-cart" data-name="Corn fried Rice" data-price="12.25" data-id="97" type="submit">ADD</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="menu-item-container"><div class="item-name">Burrito Taco a la Tortilla</div>
                                                    <div class="item-descr-container">Might as well skip your next trip to Mexico.</div>
                                                    <div class="item-price-container">
                                                        <div class="item-price">
                                                            <i class="fas fa-dollar-sign"></i> 3.20
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="add-button">
                                                            <button class="btn btn-primary sc-add-to-cart" data-name="Orange Juice" data-price="3.20" data-id="9" type="submit">ADD</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="menu-item-container">
                                                    <div class="item-name">Vegetarian Bacon</div>
                                                    <div class="item-descr-container">This one is also my favourite</div>
                                                    <div class="item-price-container">
                                                        <div class="item-price">
                                                            <i class="fas fa-dollar-sign"></i> 4.99
                                                        </div>
                                                        <div class="spacer"></div>
                                                        <div class="add-button">
                                                            <button class="btn btn-primary sc-add-to-cart" data-name="Aloo Tikis" data-price="4.99" data-id="95" type="submit">ADD</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //Menu List of items -->
                        </div>
                    </div>
                    <!-- //Menu and categories -->
                    <!-- Cart Grid -->
                    <div class="col-md-3">
                        <div id="cart"></div>
                    </div>
                    <!-- //Cart Grid -->
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#cart').simpleCart();
            });
        </script>
    <% include partials/_footer %>
    </body>
   <script type="text/javascript">
  var _gaq = _gaq || [];
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
