<!DOCTYPE html>
<html>
        <% include partials/_header %>
    <body>
    <h1 class="page-heading">Owner Dashboard: All Orders</h1>
    <!-- Orders -->
    <div class="row hidden-xs orderslist">
        <div class="col-sm-2 text-center table-data-head">Order ID</div>
        <div class="col-sm-3 text-center table-data-head">Item Name</div>
        <div class="col-sm-3 text-center table-data-head">Quantity</div>
        <div class="col-sm-2 text-center table-data-head">Client Phone Number</div>
        <div class="col-sm-2 text-center table-data-head">Status</div>
    </div>

    <div class="orderstable row">
    </div>

    <% include partials/_footer %>
    </body>
</html>
